body{
    background-image: url(../imagenscad/out-fly-92efHX0FDS8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

main {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 20%;
    max-width: 400px;
    height: 100%;
    background-color: rgba(47, 32, 6, 0.79);
    text-align: center;
    text-align: center;
    
    margin-top: 7%;
    border-radius: 0% 5% 0% 5%;
}

.cad label {
    display: block;
    color: white;
    font-size: 20px;
    
     text-align: center;
}

.cad input {
    background-color: rgba(47, 32, 6, 0.79);
    color: white;
    font-size: 20px;
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 5px;
    width: 40%;
}

.cad h1 {
    color: white;
    margin-bottom: 2%;
    text-shadow: 5px 5px black;
}

.cad button {
    color: aliceblue;
    background-color: rgb(177, 146, 108);
    width: 60px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 15px;
    margin-top: 2%;
    cursor: pointer;

}

.cad button:hover {
    color: #2f2006;
    transition: 1s;
    width: 80px;
    height: 40px;
    font-size: 20px;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .cad input {
        width: 90%;
    }
}