body{
    background-image: url(../imagenscad/out-fly-92efHX0FDS8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

main{
    width: 1080px;
    height: 720px;
    display: flex;
    
    align-items: center;
    align-self: center;
    align-content: center;
}

.container{
    margin: 20%;
    width: 1080px;
    height: 720px;
    display: flex;

}

.cad{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 5% 0% 0% 5%;
    background-color: rgba(49, 27, 2, 0.728);
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

#n{
    background-color: #e2cda8;
}

.cad label{
    display: flex;
    color: white;
    text-align: left;
    align-items: center;
    flex-direction: row;
    
}

.cad input{ 
    flex-direction: row;
    display: flex;
    text-align: center;
}

.cad button{
    cursor: pointer;
    text-align: center;
    margin-left: 30%;
    background-color: antiquewhite;
}

.cad button:hover{
    color: #2f2006;
    transition: 1s;
    font-size: 16px;
    background-color: #e2cda8;
}