body{
    background-repeat: no-repeat;
    background-size: 100%;
   
    background-image: url(../imagens/denis-tuksar-4KmlGmGXiQ8-unsplash.jpg);
}

/* Rectangle 3 */
main{
    width: 100%;
    height: 100%;
    
    
    align-items: center;
    align-self: center;
    align-content: center;
}

.container{
    width: 50%;
    height: 50%;
    background-color: #2f2006ca;
    
    text-align: center;
    margin: auto;
    border-radius: 0% 5% 0% 5%;
}

#for{
    margin-top: 10%;
    padding: 10%;
 
}

#for label{
    color: white;
    font-size: 20px;
    
}

input{
    background-color: #cca96cb0;
    font-size: 20px;
    border: 1px solid black;
    margin: 2%;
    margin-left: 8%;
    border-radius: 8%; box-shadow: 1px 1px 1px 1px black;
}

h1{
    
    text-align: center;
    color: white;
    margin-bottom: 2%;
    text-shadow: 5px 5px black;
}

button{
    color: aliceblue;
    background-color: rgb(177, 146, 108);
    width: 60px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 25%;
    margin: 3%;
    
    cursor: pointer;
}

button:hover{
    color: #2f2006;
    transition: 1s;
    width: 80px;
    height: 40px;
    font-size: 20px;
}

#out{
    padding-top: 3%;
}

a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    

    color: #FFFFFF;
}

a:hover{
    font-size: 18px;
    color: rgb(49, 34, 6);
    transition: 1s;
}
