body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #A65F46;
    color: rgb(251, 248, 248);
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}


.imgi{
    width: 50px;
    height: 50px;
}